body {
    background-image: url("images/wooble.gif");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.homepage-title{
    background-color: brown;
    color: blanchedalmond;
    text-align: center;   
    margin: 1.5em;
}

.homepage-intro {
    background-color: chocolate;
    margin: 1.5em;
}