body,html {
    background-color: rgb(174, 176, 190);
}

.logo1 {
    background-color: rgb(45, 46, 48);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
}

.bg-image-1 {
    background-image: url("images/1s&0s.gif");
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage-title{
    
    color: blanchedalmond;
    text-align: center;   
    margin: 1.5em;
}

.homepage-intro {
    margin: 1.5em;
    font-size: 24px;
}

.homepage-explanation {
  margin: 5em;
  font-size: 20px;
}

/* unvisited link */
a:link {
    color: blanchedalmond;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: blanchedalmond;
  }
  
  /* mouse over link */
  a:hover {
    color: brown;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
  }